{% extends 'shop/base.html' %}

{% block title %}
	Оформление заказа
{% endblock %}

{% block content %}
	<h1>Оформление заказа</h1>
	<div class="col-md-4">
		<h2>Заполниете форму</h2>
		<form action="." class="order-form" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Отправить">
		</form>
	</div>

	<div class="order-info col-md-8">
		<h2>Ваш заказ</h2>
		<ul>
			{% for item in cart %}
				<li>
					{{ item.product.name }} | Количество: {{ item.quantity }} | Цена: {{ item.total_price }}
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}